<!doctype html>
<html lang="en">

<head>
    <title>Add Products</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <form action="/add" method="POST">
                    <div class="form-group">
                        <label for="product_name">Tên sản phẩm</label>
                        <input type="text" class="form-control" name="product_name" id="product_name" aria-describedby="name_p" placeholder="Nhập tên sản phẩm ....">
                        <small id="name_p" class="form-text text-muted">Nhập text vào </small>
                    </div>
                    <div class="form-group">
                        <label for="product_price">Giá sản phẩm</label>
                        <input type="text" class="form-control" name="product_price" id="product_price" aria-describedby="price_p" placeholder="Nhập giá sản phẩm ....">
                        <small id="price_p" class="form-text text-muted">Nhập text vào </small>
                    </div>
                    <div class="form-group">
                        <label for="images">Link ảnh sản phẩm</label>
                        <input type="text" class="form-control" name="images" id="images" aria-describedby="images_p" placeholder="Nhập link ảnh sản phẩm ....">
                        <small id="images_p" class="form-text text-muted">Nhập link vào </small>
                    </div>
                    <button type="submit" class="btn btn-info">Thêm mới</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>